// These are the styles to make some of the templates look extra nice.
// Feel free to remove these styles for production!

// Body Styles
body,
html,
.body {
  background: #FFFFFF !important;
}

.container.header {
  background: #f3f3f3;
}

.body-drip {
  border-top: 8px solid #663399;
}

// Full Width Headers
.footer {
  background: white;
}
.footer p {
  margin-top: 20px;
}
.header .columns {
  padding-bottom: 0;
}
.link {
  font-weight: 700;
  text-decoration: none;
  .link-inner {
    color: $primary-color;
    font-weight: 700;
  }
}
.header-text {
  background-color: #f6f6f6;
}
.header h1 {
  @media only screen and (max-width: #{$global-breakpoint}) {
    font-size: 42px;
    line-height: 42px;
  }
}
.smallest-text {
  font-size: 12px;
  margin-bottom: 0!important;
  margin-top: 0!important;
}
.upper-bold {
  font-weight: 700;
  text-transform: uppercase;
  border-bottom: 3px solid $primary-color;
  width: max-content;
  margin: 20px auto;
  padding-bottom: 20px;
}
.shadow-box {
  border-radius: 15px;
  margin-bottom: 20px;
  box-shadow: 1px 2px 14px rgba($black, .14);
  padding-top: 30px;
  background-color: white;
  max-width: 95%;
  margin-left:auto;
  margin-right: auto;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  .first, .last {
    padding-bottom: 0px!important;
  }
  .margin-top {
    margin-bottom: 20px!important;
  }
}

.uppercase {
  text-transform: uppercase;
}
.light-shadow-box {
  border-radius: 15px;
  margin-bottom: 20px;
  box-shadow: 3px 6px 13px rgba($black, 0.1);
  padding-top: 30px;
  max-width: 95%;
  background-color: white;
  margin-left:auto;
  margin-right: auto;
  .first, .last {
    padding-bottom: 0px!important;
  }
}
.logo {
  margin-top: 20px;
}
.shadow-box h5, .shadow-box h6, .shadow-box .wrapper-inner {
  margin-bottom: 0;
  margin-top: 20px;
    @media only screen and (max-width: #{$global-breakpoint}) {
      margin-top: 0;
    }
}
h5,
h6 {
  @media only screen and (max-width: #{$global-breakpoint}) {
    font-size: 48px;
  }
}
.important {
  font-weight: 700;
  color: $secondary-color;
}

.header .container {
  background: transparent;
}

// Social Media
table.button.facebook table td {
  background: #3B5998 !important;
  border-color: #3B5998;
}

table.button.twitter table td {
  background: #1daced !important;
  border-color: #1daced;
}

table.button.google table td {
  background: #DB4A39 !important;
  border-color: #DB4A39;
}

.wrapper.secondary {
  background: #f3f3f3;
}
.talk-about, .bg-color {
  background-color: #f8f8f8;
}


h1 {
  line-height: 46px;
}