---
subject: Urodziny Kredyt Inkaso
---
<wrapper class="header">
  <container>
    <img src="assets/img/hero.png">

    <row class="header-text">
      <columns>
        <h1 class="heading">Na <span class="important">20 urodziny</br>
            Kredyt Inkaso S.A.</br></span>
          mamy dla Ciebie prezent</h1>
      </columns>
    </row>
  </container>
</wrapper>

<container>
<wrapper class="bg-color">

  <row>
    <columns small="12">
      <h2><strong>Drodzy Klienci,</strong></h2>
      <p><strong>W tym roku Kredyt Inkaso S.A. obchodzi swoje 20 urodziny!</strong> Był to czas, w którym pomogliśmy
        tysiącom naszych klientów wyjść z pętli zadłużenia. Poprzez wsłuchanie się i zrozumienie sytuacji osób
        zadłużonych, byliśmy w stanie zaproponować rozwiązania dopasowane do ich możliwości. </p>
      <p>Chcemy świętować te okrągłe urodziny wspólnie z naszymi klientami, dlatego przygotowaliśmy dla Państwa
        specjalną propozycję z wyjątkowymi korzyściami:</p>
    </columns>
  </row>
  <row>
    <columns small="12">
      <h2 class="uppercase">Co możemy <strong>zaoferować?</strong></h2>
    </columns>
  </row>
  <row class="light-shadow-box">
    <columns  small="12">
      <h3 class="text-center upper-bold">jubileuszowa 20-stka</h3>
      <p class="text-center"><b>10 rat i 10% umorzenia długu</b></p>
    </columns>
  </row>
  <row>
    <columns>
    <spacer size-sm="20" size-lg="40"></spacer>
      <h2>Twój <strong>komfort kontaktu</strong></h2>
      <p>Wszystkie formalności załatwisz poprzez kontakt telefoniczny lub mailowy - <strong>bez wychodzenia z domu.</strong></p>
      <img src="assets/img/section-photo.jpg">
    </columns>
  </row>

  <wrapper class="talk-about">
  <row>
    <columns>
    <spacer size-sm="20" size-lg="40"></spacer>

      <h2><b>POROZMAWIAJMY</b></h2>
      <p>Skontaktuj się z doradcą Kredyt Inkaso S.A. i koniecznie<br><strong>sprawdź jaką propozycję przygotowaliśmy dla Ciebie.</strong></p>
    </columns>
  </row>
  <row class="shadow-box">
    <columns small="12" large="1">
      <spacer size="40"></spacer>
      <center>
        <img src="assets/img/phone.png">
      </center>
    </columns>
    <columns>
      <h5><a href="tel:+48222233334"><strong>22 22 333 34</strong></a></h5>
      <p>Od poniedziałku do piątku od 08.00 do 20.00<br>(Koszty rozmowy wg stawki operatora)</p>
    </columns>
  </row>
  <row class="shadow-box">
    <columns small="12" large="1">
      <spacer size="35"></spacer>
      <center>
        <img src="assets/img/sms.png">
      </center>
    </columns>
    <columns>
      <h6><a href="+48698888785"><strong>698 888 785</strong></a></h6>
      <p>SMS o treści <strong>"Rozmowa"</strong> <br>(Koszt SMS wg stawki operatora)</p>
    </columns>
  </row>
  <row class="shadow-box">
    <columns small="12" large="1">
      <spacer size="25"></spacer>
      <center>
        <img src="assets/img/email.png">
      </center>
    </columns>
    <columns>
          <h3 class="wrapper-inner margin-top"><a href="mailto:kontakt@kredytinkaso.pl"><strong>kontakt@kredytinkaso.pl</strong></a></h3>
    </columns>
  </row>
  <row class="shadow-box">
    <columns small="12" large="1">
      <spacer size="25"></spacer>
      <center>
        <img src="assets/img/form.png">
      </center>
    </columns>
    <columns>
      <p class="wrapper-inner  margin-top">Przez formularz dostępny na stronie internetowej
        <span class="important">kredytinkaso.pl</span>
      </p>
    </columns>
  </row>
  <row class="shadow-box">
    <columns small="12" large="1">
      <spacer size="25"></spacer>
      <center>
        <img src="assets/img/facebook.png">
      </center>
    </columns>
    <columns>
      <p class="wrapper-inner  margin-top"><strong>Jesteśmy też na Facebooku!</strong><br>
        Zajrzyj na nasz profil po więcej informacji o Kredyt Inkaso S.A. oraz praktyczne porady i przydatne ciekawostki!
      </p>
    </columns>
  </row>
</wrapper>

<spacer size-sm="10" size-lg="10"></spacer>

 
    <wrapper class="footer">
      <img src="assets/img/footer.png" />
      <row>
        <columns small="12" large="6">
          <p class="small-text-center">ul. Domaniewska 39,
            <br>02-672 Warszawa
            <br>tel.: +48 22 22 333 44</p>
        </columns>
        <columns small="12" large="6">
          <img class="small-float-center logo" src="assets/img/logo-color.png">
        </columns>
      </row>
      <row>
        <columns small="12" large="12">
          <p class="smallest-text">
            Kredyt Inkaso S.A. ul. Domaniewska 39, 02-672 Warszawa, tel. +48 22 212 57 00, fax +48 22 212 57 57 Kapitał
            zakładowy: 12&nbsp;897 364 zł, wpłacony w całości; Oznaczenie sądu: Sąd Rejonowy dla m.st. Warszawy w
            Warszawie, XIII Wydział Gospodarczy KRS, KRS: 0000270672, NIP: 922-25-44-099, REGON: 951078572&nbsp;
          </p>
        </columns>
      </row>
      <row>
        <columns small="12" large="12">
          <img class="small-float-center" src="assets/img/klauzula.png">
        </columns>
      </row>
      <row>
        <columns small="12" large="12">
          <p class="smallest-text">Informujemy o przysługujących Panu/Pani prawach wynikających z ogólnego
            Rozporządzenie Parlamentu Europejskiego i Rady (UE) o ochronie danych osobowych nr 2016/679 (RODO): prawo
            dostępu do treści swoich danych oraz prawo ich sprostowania, usunięcia, ograniczenia przetwarzania oraz
            prawo wniesienia sprzeciwu wobec przetwarzania Pani/Pana danych na podstawie prawnie uzasadnionego interesu,
            z przyczyn związanych z Pani/Pana szczególną sytuacją. W celu skorzystania
            z powyższych praw może Pani/Pan skontaktować się z administratorem danych osobowych drogą pisemną - na
            adres: Kredyt Inkaso S.A. ul. Domaniewska 39, 02-672 Warszawa lub drogą elektroniczną - na adres:
            dpo@kredytinkaso.pl. Ma Pani/Pan prawo wniesienia skargi do Prezesa Urzędu Ochrony Danych Osobowych, jeżeli
            uzna Pani/Pan, że przetwarzanie danych osobowych Pani/Pana dotyczących narusza przepisy RODO. W trosce o
            jakość obsługi, rozmowy telefoniczne mogą być nagrywane.
          </p>
        </columns>
      </row>
    </wrapper>
</container>